@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* ##################### html element styling ########################### */
html{
    font-size:62.5%;
    height: 100%;
}

ul li{
    list-style: none;
}
a{
    font-size: 1.6rem;
    /* 1.6rem == 1.6*10 == 16px */
    text-decoration: none;
}
p, li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}
h1,h2,h3{
    margin-bottom: 0.5em;
    letter-spacing: o.15em;
    font-weight: 500;
}
/* ################ utility classes ############### */
.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto ;
}
.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    text-transform: uppercase;
    margin: 0.5em 0em;
    font-weight: 500;
}
.btn-primary{
    background-color: #fff;

    border-radius:10rem;
}
.btn-secondary{
    border: 1px solid red;
    /* background-color: #fff; */
    border-radius: 3rem;

}
.lg-heading{
    font-size:3.6rem;
}
.md-heading{
    font-size: 2.2.rem;
}
.text-red{
    color: #e63946;
}
.text-light{
    color: #f4f4f4;
}
.text-black{
    color: #333;
}
.text-grey{
    color:#555;
}

.bg-dark{
    background-color:#263228 ;
}




/* ###################### header styling ####################### */
.header {
    /* position: absolute; */
   height: 95vh;
   background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) , url(../img/header-image.jpg) ;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

}
/* .navbar{
    border: 4px solid #fff;
} */
/* .header .logo ,
.header .navbar a{
    color: #aaa;
} */
.navbar .logo{
    float: left;
    font-size:3.5rem;
    margin-top: 1.5rem;
}
.navbar a:link,
.navbar a:visited
{
    color: #f4f4f4;
}
.navbar .nav-items{
    float:right;
    font-size:3.5rem;
    text-transform: uppercase;
    margin-top: 1.5rem;
}
.navbar .nav-item{
    display: inline-block;
}
.navbar::after{
    content:'';
    clear: both;
    display:block;
}
.navbar a{
    padding-bottom: 0.3rem;
}
.navbar a:hover{
    border-bottom: 1px solid #fff;
}

 /* ################### header content style ################### */

/* .header-content{
    max-width: 800px;
    width: 90%;
    margin: 25rem auto;
} */
.header-content{
    position:absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background: linear-gradient(rgba(0,0,0,0.2) , rgba(0,0,0, .2));
}

.header-content h1{
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
.header-content p{
    text-transform: uppercase;
    text-align: center;
}

/* ############## showcase section styling ############## */
.showcase{
    background: #ddd;
    padding: 10rem;
}
.row{
    height: 350px;
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.212) ;
}
.row1{
    margin-bottom: 10em;
}
.row1 .img-box, 
.row2 .text-box{
    float: left;
    width: 50%;
}

.row2 .img-box, 
.row1 .text-box{
    float: right;
    width: 50%;
   
}
.row .img-box{
    height: 100%;
    /* object-fit: cover; */
    
}

.row .text-box{
    padding: 3rem;
    /* height: 100%;
    width: 50%; */
    /* object-fit: cover; */
    /* margin: 0 auto; */
}
/* .row1 .img-box{
    background: url(../img/showcase-photo1.jpg);
}
.row2 .img-box{
    background: url(../img/showcase-photo2.jpg);
} */

/* .row1 .text-box{
    background: #fff;
    padding-top: 40px ;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    object-fit: cover;
}
.row2 .text-box{
    background: #fff;
    padding-top: 40px ;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    object-fit: cover;
} */
/* .container .row .text-box , */
/* .container .row .img-box {
    object-fit: cover;
} */

.row .img-box img{
    display: inline-block;
    width:100%;
    height: 100%;
    object-fit: cover;
}
.row .text-box a:hover{
    background: #efefef;
}
.row::after{
    content:'' ;
    display:block;
    clear:both;
}

/* ###################### feature section ########################### */
.feature{
    padding: 10rem 0;

}
.box-wrapper{
    box-shadow: 5px 5px 50px 0px rgba(0, 0, 0, 0.267);
}
.box{
    width: 33.3333333%;
    float: left; 
    padding: 2rem;
    /* margin-bottom: 20rem; */
    text-align:center;
}
.box::after{
    content:"";
    display: block;
    clear: both;
}
.box1 , .box3{
    background-color: #263238;
    color:white;
}
.box2{
    /* background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
    background-image: linear-gradient(25deg, #d64c7f,#ee4758 50%);
    color:#fff;
}
/* ############footer style ########### */

.footer{
    /* border: 2px solid green; */
    display: inline-block;
    width: 100%;
    background: #263228;
    color: #fff;
    text-align: center;
    padding:0.5em;
    /* padding-right: 40rem;
    padding-left: 20rem; */
    /* height: 150px; */
    /* padding-top: 50rem; */
   margin-top: 6rem;
  /*  margin-bottom: 500px; */
}
.footer2{
    /* border: 2px solid green; */
    display: inline-block;
    width: 100%;
    background: #263228;
    color: #fff;
    text-align: center;
    padding:0.5em;
    /* padding-right: 40rem;
    padding-left: 20rem; */
    /* height: 150px; */
    /* padding-top: 50rem; */
   margin-top: 6rem;
  /*  margin-bottom: 500px; */
}
.social-media-links i{
    margin: 2rem;
    /* padding: 2rem; */
    /* margin-top: -150px; */
    /* padding-bottom: 5rem; */

}
.social-media-links p{
    margin-bottom: 2rem;
    padding-bottom: 3rem;
}

/* ################################### about page styling ########################## */

.about{
    padding-top: 5rem ;
    /* padding-bottom: 5rem; */
}
/* .about h2{
    padding-bottom: 5rem;
    /* border:2px solid yellow; */

.about-heading::after{
    content:"";
    border:3px solid #e63946;
    display: block;
    width: 100%;
 }

 /* ####################### about wrapper class ############################### */
.about-wrapper{
    text-align: center;
    margin-top: 2rem;
}
 .about-wrapper .left{
    float: left;
    width: 50%
 }
 .about-wrapper .right{
    float: right;
    width: 50%;
 }
 .about-wrapper::after{
     content: "";
     display: block;
     clear: both;
 }
/* ####### for tick mark ######### */
.about-wrapper li::before{
    content:'\2713';
    color: #e63946;
    font-weight: bold;
    padding-right: 1rem;
}
/* ################ COUNT STYLING ################### */

.count-item{
    /* border:2px solid green; */
    padding-left: 10rem;
    padding-top: 5rem;
}
.count-item span{
    color:#e63946;
    /* font-weight: 800; */
    text-align: center;

}
.count-item p{
    padding-top: 1rem;
}
.count-item1{
    float:left;
    width:25%;

}
.count-item2{
    float:left;
    width:25%;
}
.count-item3{
    float:left;
    width:25%;
}
.count-item4{
    float:left;
    width:25%;
}
.count-item ::after{
    content: "";
    display: block;
    clear:both;
}

/* ########### banner styling ########### */
.cta-banner{
    background-color: #ee4758;
    color:#fff;
    height: 100px;
    /* display: inline-block; */
    /* padding: 1rem; */
    box-shadow: 5px 5px 10px #00000057;
    margin-top: 3rem;
    
}
.cta-banner-left{
    float: left;
    wdith: 60%;
    display: inline-block;
    /* padding: 4rem;
    font-weight: 700;
    font-size: 2rem; */
}
.cta-banner-right{
    display: inline-block;
    width: 40%;
    float:right;
    text-align: right;
}
.cta-line{
    font-weight: 700;
    font-size: 2rem;
    margin-top: 4rem;
    padding-left:1rem;
}
.btn-cta{
    text-align: center;
    display: inline-block;
    font-size: 3rem;
    text-transform: uppercase;
    border: 4px solid #fff;
    padding:2rem 8rem; 
    margin-top: 1rem;
    margin-right:2rem;
    letter-spacing: 0.5 rem;
    color:#f4f4f4;
}
.cta-banner::after{
    content:'';
    display: block;
    clear:both;
}

/* ########### contact form styling ##############  */
.contact-form{
    height:760px;
    padding:5rem 0rem;
    font-size: 2rem;
    background-color: #f7f7f7;
}
.form-wrapper .company-address{
    /* border: 2px dotted black; */
    width:49%;
    float: left;
    background-color: #fff;
    padding: 1rem;
}
.form-wrapper .company-address i{
    display:inline-block;
    margin-right:1rem;
}

.form-wrapper .company-address h2{
    display: inline-block;

}
.form-wrapper .address-group{
    margin-bottom: 3rem;
}
.form-wrapper .company-address img{
    max-width: 90%;
    min-width:40rem;
    object-fit: cover;
    object-position: right;
}
/* ##################### form styling ######################### */
.form-wrapper .form{
    height: 760px;
    font-size:1.5rem;
    width: 49%;
    float: right;
    background-color: #fff;
    padding: 1rem;
}
.form h1::after{
    content:'';
    display:block;
    border: 5px solid #ee4758;
    width: 100%;
}
.form-wrapper label{
    display: block;
}

.form-wrapper .form input{
    padding:0.5rem;
    width: 100%
}
.form-wrapper .form  .form-group{
    margin-bottom: 1.2 rem;
}
.form-wrapper .form label::after{
    content:'*';
    color:#e63946;
}
.form-wrapper .form textarea{
    width:100%;
    height: 300px;
    padding: 1rem;
}
.form-wrapper::after{
    content: '';
    display: block;
    clear: both;
}
.form-btn{
    display: block;
    margin: 0 auto;
    padding: 0.5em 3em;
    font-size:1.8rem;
    text-transform: uppercase;
    background-color: #e63946;
    color:#fff;
    outline:none;
    border: none;
    cursor: pointer;
}

/* ########################## media queries #############################  */

@media (max-width : 500px){
    html{
        font-size: 50%;  /*== 8px*/
    }
    .navbar .nav-items , .navbar .logo{
        float: none;
        display: block;
        text-align: center;
        width: 100%;
    }
    .header .header-content h1{              /*isse h1 me jo travel the world hai wo show nhi hoga ye srf example k liye kiya hai
                                                       isse hum kisi bhi element ko hta skte hai apne website ko responsive bnane ke liye ye developers pe depend krta h     */
        display: none;
    }
    .row{
        width: 100%;
        height: auto;
    }
    .showcase .row .img-box,
    .showcase .row .text-box{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
    .feature .box{
        float: none;
        width: 100%;
        margin-bottom: 5rem;
        box-shadow: 5px 5px 50px 0px rgba(0, 0, 0, 0.267);
    }
    .box-wrapper{
        box-shadow: none;
    }
    .count-item1{
        float: none;
        width;100%;
    }
    .count-item2{
        float: none;
        width: 100%;
    }
    .count-item3{
        float: none;
        width: 100%;
    }
    .count-item4{
        float: none;
        width: 100%;
    }
    .cta-banner{
        height: auto;
    }
    .cta-banner-left,
    .cta-banner-right{
        float: none;
        width: 100%;
        height: auto;
        text-align: center;
    }
    .footer2{
        /* height: auto; */
        margin-top: 80rem;
    }
    .form-wrapper .company-address{
        float: none;
        height: auto;
        width:100%;
        /* text-align: center; */
        margin-bottom: 5rem;
    }
    .form-wrapper .form{
        float: none;
        width: 100%;
        height: auto;
    }
}
@media (min-width: 501px) and (max-width: 768px){
    html{
        font-size: 50%;  /*== 8px*/
    }
    p{
        font-size: 1.8rem;
    }
    .navbar .nav-items , .navbar .logo{
        float: none;
        display: block;
        text-align: center;
        width: 100%;
    }
    
    .row{
        width: 100%;
        height: auto;
    }
    .showcase .row .img-box,
    .showcase .row .text-box{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
    .feature .box{
        float: none;
        width: 100%;
        margin-bottom: 5rem;
        box-shadow: 5px 5px 50px 0px rgba(0, 0, 0, 0.267);
    }
    .box-wrapper{
        box-shadow: none;
    }
    .count-item1{
        float: none;
        width;100%;
    }
    .count-item2{
        float: none;
        width: 100%;
    }
    .count-item3{
        float: none;
        width: 100%;
    }
    .count-item4{
        float: none;
        width: 100%;
    }
    .cta-banner{
        height: auto;
    }
    .cta-banner-left,
    .cta-banner-right{
        float: none;
        width: 100%;
        /* height: 200px; */
        text-align: center;
    }
    .footer2{
        /* height: auto; */
        margin-top: 100rem;
    }
    /* .about{
        height: auto;
    } */
    .form-wrapper .company-address{
        float: none;
        height: auto;
        width:100%;
        /* text-align: center; */
        margin-bottom: 5rem;
    }
    .form-wrapper .form{
        float: none;
        width: 100%;
        height: auto;
    }   
}
@media (min-width: 769px) and (max-width: 1200px){
    html{
        font-size: 56.25%;    /*900/16==56.25*/
        font-weight: 500;
    }
}
@media (orientation:landscape) and (max-height: 500px){              
    height: 90vmax;
}
  /*landscape me width zyada hota h and height kam ho jata h so aisa krne se height width ka 90% le legi bcoz landsapce me width zyada hogi.